.box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.reset{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.one{
    background-color: red;
    border: 0;
}
.two{
    background-color: pink;
    border: 0;
}
.three{
    background-color: yellow;
    border: 0;
}
.four{
    background-color: green;
    border: 0;
}
.five{
    background-color: violet;
    border: 0;
}
.six{
    background-color: skyblue;
    border: 0;
}
.seven{
    background-color: orange;
    border: 0;
}
.eight{
    background-color: teal;
    border: 0;
}
.nine{
    background-color: blue;
    border: 0;
}
.ten{
    background-color: beige;
    border: 0;
}
.reset{
    
    
    background-color: white;
    
}

.c-box{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.main{ 
    width: 200px;
    height: 200px;
   
    
    
   
}